<!DOCTYPE html> 
<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <title>MobileOne</title> 
		
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
		
		<link rel="stylesheet" type="text/css" href="stylesheets/structure.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/navigation.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
    </head>
    <body>
		<script type="template/underscore" id="navigationTemplate">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AIR MILES</a>
			</div>
			
			<div class="navbar-collapse menu-collapse in" style="height: auto;">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Rewards</a></li>
					<li><a href="#">Offers</a></li>
					<li><a href="#">Sponsors</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Check In <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Nearby</a></li>
							<li><a href="#">Categories</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Card</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Transaction History</a></li>
							<li><a href="#">Inbox</a></li>
							<li><a href="#">About</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</script>

		<script type="template/underscore" id="loginTemplate">
			<article>
				<header>
					<img src="images/icon.png" />
				</header>
				<section class="form">
					<input type="text" class="form-control collectorNumber" placeholder="Collector Number"></input>
					<button class="btn login">Login</button>
				</section>
			</article>
		</script>
		
		<script type="template/underscore" id="homeTemplate">
			<% console.log(user) %>
			<article>
				<section class="jumbotron">
					<h1>Hello <%= user.fname %></h1>
					<p>You have <%= user.balance %> Dream Reward Miles and <%= user.cashBalance %> Cash Reward Miles</p>
					<p><a class="btn btn-primary btn-lg">Check In Nearby</a></p>
					<p><a class="btn btn-primary btn-lg">Offers Nearby</a></p>
				</section>
			</article>
		</script>

		<div id="container">
			<article id="application" page="login">
				<nav id="navigation" class="navbar navbar-default" role="navigation"></nav>
				
				<section id="login"></section>
				<section id="home"></section>
				
				<div class="navigationOverlay"></div>
			</article>
		</div>
		
		<script src="javascripts/lib/jquery-2.0.3.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="javascripts/lib/underscore-1.5.1.min.js"></script>
		<script src="javascripts/lib/backbone-1.0.0.min.js"></script>
		
		<!-- Models -->
		<script src="javascripts/models/collector.model.js"></script>
		
		<!-- Presenters (Views controlers) -->
		<script src="javascripts/presenters/navigation.presenter.js"></script>
		<script src="javascripts/presenters/login.presenter.js"></script>
		<script src="javascripts/presenters/home.presenter.js"></script>

		<!-- Application -->
		<script src="javascripts/application.js"></script>
		
		<!-- Entry Point -->
		<script src="javascripts/main.js"></script>
    </body> 
</html>