/* Application Structure */
#application {
	position: relative;
	margin-left: -100%;
	width: 300%;
	height: 100%;
	transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
}
#application.menu {
	margin-left: -10%;
}

#application > nav {
	position: absolute;
	top: 0px;
	left: calc(100% / 3);
	right: calc(100% / 3);
	height: 100px;
}

#application > section {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: calc(100% / 3);
	right: calc(100% / 3);
}
#application > section > article {
	position: relative;
	display: none;
}

#application[page=login] #login, 
#application[page=home] #home {
	display: block;
}
